{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Junja's Blog</title>
</head>
<body>
    <div class="header">
		<h1><a href="/">Junja's Blog</a></h1>
	</div>
<ul class="nav navbar-nav navbar-right">
  	{% if user.is_active %}
  	<li><a href="">{{user.username}}</a></li>
  	<li><a href="{% url 'common:logout' %}">로그아웃</a></li>
  	{% else %}
  	<li><a href="{% url 'common:login' %}"> 로그인</a></li>
	 {% endif %}
</ul>
    
    {% block content %}
    {% endblock %}
</body>
</html>